__pycache__/
*.pyc
*.pyo
*.log
bridge_log.txt
.env

# Local Netlify folder
.netlify
server/
node_modules/
package-lock.json
temp/
netlify.toml
*.lock
public/
project/

# User data
notes.json
habits.json
alarms.json
installed_apps.json
settings.json
account.json
resume.json
